# SPDX-FileCopyrightText: 2023 Oxhead Alpha
# SPDX-License-Identifier: LicenseRef-MIT-OA

# directory commonly used to store static binaries
binaries/

# directory commonly used to store built packages
out/

# docker packages' python cache
__pycache__/
