# SPDX-FileCopyrightText: 2020 TQ Tezos <https://tqtezos.com/>
#
# SPDX-License-Identifier: MPL-2.0

[Unit]
After=network.target
Description=Tezos accuser

[Service]
EnvironmentFile=/etc/default/tezos-accuser-006-pscartha
Environment="PROTOCOL=006-PsCARTHA"
ExecStart=/usr/bin/tezos-accuser-start
StateDirectory=tezos
User=tezos
