# SPDX-FileCopyrightText: 2020 TQ Tezos <https://tqtezos.com/>
#
# SPDX-License-Identifier: MPL-2.0

[Unit]
After=network.target
After=tezos-node.service
Requires=tezos-node.service
Description=Tezos baker

[Service]
EnvironmentFile=/etc/default/tezos-baker-006-pscartha
Environment="PROTOCOL=006-PsCARTHA"
ExecStart=/usr/bin/tezos-baker-start
StateDirectory=tezos
User=tezos
